<div id="header">
    <div class="container">
        <div class="row">
            <div id="pageTitle" class="col-md-12 text-center mt-5">
                <h1>NEWS</h1>
                <h2 class="lead">The Most Important Stories of the Day!</h2>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div id="articles" class="col-md-12 text-center mt-5">
                <h3>Articles</h3>
            </div>
        </div>
    </div>
</div>